.git
.github
node_modules
npm-debug.log*

.env
users.json
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

logs
firmware-files
restore-staging
*.pre-restore-*

mqttserver.rar
githuba_gonder.bat

certs/*.pem
certs/*.key
